 <div>
  <h1>Overwatch Heroes</h1>

  <div class="container grid">
    <% @hero.each do |m| %>
    <div class="g-col-3 card">
    <img src="<%= m.image %>" alt="<%= m.name %>" class ="img-fluid">
    <a class="text-center" href="<%= overwatch_characters_path(m.id) %>"><%= m.name %></a>
    </div>
    <%end%>
  </div>
  <ul class="pagination">
  <li><%= paginate @hero %></li>
  </ul>
</div>
