<div>
  <H1><%= @show.name %></H1>
  <img src="<%= @show.image %>" alt="<%= @show.name %>">
  <p><%= @show.description %></p>
  <p>Difficulty: <%= @show.difficulty%></p>
  <p>Class Type: <%= @show.overwatch_class.name%></p>
</div>