<div class ="text-center col-4 p-1 border border-primary shadow-lg p-3 mb-5 bg-body rounded">
  <H1><%= @show.name %></H1>
  <img src="<%= @show.image %>" alt="<%= @show.name %>">
  <p><%= @show.description %></p>
  <p>Difficulty: <%= @show.difficulty%></p>
  <p>Class Type: <%= @show.overwatch_class.name%></p>
</div>