<h1>Search Result</h1>

<%@find.each do |m|%>
<div>
  <H1><%= m.name %></H1>
  <img src="<%= m.image %>" alt="<%= m.name %>">
  <p><%= m.description %></p>
  <p>Difficulty: <%= m.difficulty%></p>
  <p>Class Type: <%= m.overwatch_class.name%></p>

</div>
<%end%>